/src/CPCPModel/sqlite3.exe
env/
*.pyc
.idea/
src/postgresSettings.py
node_modules
bundle.js
npm-debug.log
logs/
*/Icon\r
*/.DS_Store
dbConfig.json
/images/*
*.sql
/scripts/bboxIn/*

# Don't add config files
**/*/config.json
# Don't add build files
**/build/
**/server/static/

# Make sure to keep credentials out
*.ppk
*.cred
