<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>
<body>
<h3>Send Feedback To Project Team</h3>
<br>
<form action="" method="post" id="feedbackForm">
    <input name="senderName" type="text" placeholder ="Name..." />
    <input name="senderEmail" type="text" placeholder ="Email Address..." />
    <input value="Submit" type="submit" />
</form>
<br>
<textarea rows="4" cols="50" name="feedbackText" form="feedbackForm" placeholder="Feedback..."></textarea>
<br>
<br>
<a class="hyperlink" href="/moviesearch">Back to search page.</a>
</body>
</html>