<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>
<body>
<div style="text-align: center;"><big><big><span
 style="font-weight: bold;">Contact Project Team</span></big></big>
<br>
    <br>
<form action="" method="post" id="feedbackForm">
    <input name="senderName" type="text" placeholder ="Name..." />
    <input name="senderEmail" type="text" placeholder ="Email Address..." />
    <input value="Submit" type="submit" />
</form>
<br>
<textarea rows="10" cols="56" name="feedbackText" form="feedbackForm" placeholder="Feedback...(if reporting a bug, please explain how to reproduce the error)"></textarea>
<br>
<br>
<a class="hyperlink" href="/moviesearch">Back to search page.</a>
    </div>
</body>
</html>