<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>The Cell Phone Cinema Project</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="text-align: center;"><big><big><span
 style="font-weight: bold;">The Cell Phone Cinema Project<br>
<small><small>by Dr. John Hunter, Justin Eyster, and Dale Hartman<br>
at Bucknell University<br>
<br>
</small></small></span></big></big>Use
the search box below to analyze the usage of a word/phrase <br> within a
database of {numMovies} movies released after the year 2000. <br> For this
version 1.0, we chose movies with settings which allow for <br> the
occurrence of technology such as cell phones, <br> to analyze the ways that
technology has affected story telling. <br>
<br>
<form action="/moviesearch" method="post">
    <input name="keywordOrPhrase" type="text" placeholder ="Keyword/phrase..." />
    <br>
    Limit results to a specific genre:
    <select name="genre">
        <option selected="selected" value="All">All Genres</option>
        <option value="Action">Action</option>
        <option value="Thriller">Thriller</option>
        <option value="Comedy">Comedy</option>
        <option value="Family">Family</option>
        <option value="Adventure">Adventure</option>
        <option value="Mystery">Mystery</option>
        <option value="Romance">Romance</option>
        <option value="Sci-Fi">Sci-Fi</option>
        <option value="Horror">Horror</option>
        <option value="Drama">Drama</option>
        <option value="Biography">Biography</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Crime">Crime</option>
        <option value="War">War</option>
        <option value="Animation">Animation</option>
        <option value="History">History</option>
        <option value="Musical">Musical</option>
    </select>
    <br>
    Limit results to movies originally released between:
    <br>
    <input name="earliestReleaseYear" type="number" placeholder={defaultEarliestReleaseYear}
           min={defaultEarliestReleaseYear} max={currentYear} />
    and
    <input name="latestReleaseYear" type="number" placeholder={currentYear}
           min={defaultEarliestReleaseYear} max={currentYear} />
    <br>
    <input value="Search" type="submit" />
</form>
    <br>
    <a class="hyperlink" href="/moviesearch/compare">OR Compare Two Keywords/Phrases</a>
  </div>
    </body>
</html>
