<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <meta charset="windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <nav>
  <ul class="pagination">
    <li>
      <a href={linkPrev} aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li {active1}><a href={linkFirst}>First Page</a></li>
    <li {active1}><a href={link1}>{pageNum1}</a></li>
    {button2}
    {button3}
      {button4}
       {button5}
    <li {activeLast}><a href={linkLast}>Last Page</a></li>
    <li>
      <a href={linkNext} aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
  </body>
</html>
