
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>The Film Search Engine</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Site Tracking Code -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66295768-1', 'auto');
        ga('send', 'pageview');

      </script>

      <script data-main="/static/js/results" src="http://requirejs.org/docs/release/2.3.2/minified/require.js"></script>
  </head>

  <body>

  <div style="text-align: center; padding-top:150px;padding-bottom:150px" class="filmSearch">
      <span style="font-size:22px; font-weight: bold;">The Film Search Engine</span><br>
          <span style="font-size:15px; font-weight: bold;"> by Dr. John Hunter, Justin Eyster, and Dale Hartman<br>
              at Bucknell University</span><br>
              <br>


      Use the search box below to analyze the usage of a word/phrase <br> within a
      database of 90 movies released after the year 1996. <br>

      <br>

      <div id="inputForm">

      </div>

      <br>
      <p><a class="hyperlink" href="/moviesearch/compare">OR Graph Two Keywords/Phrases</a></p>
      <br>
      <p>This site is a work in progress:</p>
      <p><a class="hyperlink" href="/moviesearch/feedback">Comments Or Suggestions? Please Contact Us</a></p>
  </div>


  <div class="site-wrapper filmResults">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">The Film Search Engine</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li ><a href=/moviesearch>Home</a></li>
                </ul>
              </nav>
            </div>
          </div>

            <p class=message-text>Showing 663 results for 'phone', 25 per page.</p>
            <p class=message-text>Click on a result to view context.</p>
            <p class=message-text>
                <a href='/moviesearch'>Back to Search Page</a>
            </p>
        </div>


          <div id="filmData">


          </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
