
/* Search results page */
.resultsAppBar {
  width: auto !important;
  left: 0 !important;
  position: fixed !important;
  right: 255px;
}

.metadataDrawer {
  right: 0px;
  padding-left: 20px !important;
  padding-top: 64px !important;
}

/* Styling for search page */
#mainSearchCover {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 150px;
}

#mainTitle {
  font-size: 22px;
  font-weight: bold
}

#names {
"font-size":"15px";
"font-weight": "bold"
}

/* Graph related style */
#header {
  color: white;
}

#placeholder {
width: 750px;
height: 300px;
}



/*
 * Header
 */

.lead {
  margin-top: 80px;
}

.message-text {
  color: #fff;
}

.canvas-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.merged-canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    /*width: 100%; */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    /*width: 800px;*/
  }
}
