@import "../../static/js/node_modules/react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Search results page */
.resultsToolbar {
  width: 100% !important;
  position: fixed !important;
  z-index: 10;
}

.screenshotsGridList {
  padding-right: 265px;
  padding-top: 60px;
  padding-left: 10px;
  padding-bottom: 15%;
}

.screenshotsGridList img ~ div {
  height: 30px!important;
}

.metadataDrawer {
  right: 0px;
  padding-left: 20px !important;
  padding-top: 64px !important;
}

.screenshotsGridList > div:nth-child(2) > div:hover {
  cursor: pointer;
}

/* Styling for search page */
#mainSearchCover {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 150px;
}

#mainTitle {
  font-size: 22px;
  font-weight: bold
}

#names {
"font-size":"15px";
"font-weight": "bold"
}

/* Styling for MetadataDrawer Elements */
/* Movie poster styling */
.thumbnail {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*background-position: 50%;*/
    /*left: 50%;*/
    /*margin-right: -50%;*/
}

/* Movie title in MetadataDrawer */
.movieTitleInMetadataDrawer {
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: "Arial";*/
    /*font-family: 'Pangolin', cursive;*/
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 80px;
    text-align: center;
    position: relative;
}

/* Timeline in MetadataDrawer */
.metadataDrawerTimelineContainer {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    position: relative;
}

/* Dialogue of the screenshot */
.metadataDrawerDialogueContainer {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    height: 130px;
    text-align: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

/* Context Page */
/* Context Page Image Gallery */
.contextImageGallery {
    /*font-family: 'Roboto', sans-serif;*/
    /*font-size: 20px;*/
    /*height: 80px;*/
    /*text-align: center;
    position: relative;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin: auto;*/
    /*height:30%;*/
}

.contextImage {
    padding-left: 40px;
    padding-right: 40px;
    width:500px;
}

.contextImage img {
    width:100%
}

/* Context page's dialogue section */
.contextDialogue {
}
/* Graph related style */
#header {
  color: white;
}

#placeholder {
width: 750px;
height: 300px;
}



/*
 * Header
 */

.lead {
  margin-top: 80px;
}

.message-text {
  color: #fff;
}

.canvas-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.merged-canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    /*width: 100%; */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    /*width: 800px;*/
  }
}
