#frontFoot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#textIcon {
  text-align: center;
  display: inline-block;
}

#photoIcon {
  text-align: center;
  display: inline-block;
}

#photoModal {
  text-align: center;
}
