#frontFoot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#searchIcons {
  padding-top: 100px;
}

#textIcon {
  display: inline-block;
  padding-right: 0%;
}

#photoIcon {
  display: inline-block;
  padding-left: 25%;
}

#photoModal {
  text-align: center;
}

#textForm {
  display: inline;
}
