<!DOCTYPE html>

<html>
  <head>
    <script src="static/js/jquery-1.11.3.min.js"></script>
    <script src="static/js/clusterize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/clusterize.css">
  </head>

  <body>
<div class="clusterize">
  <table>
    <thead></thead>
  </table>
  <div id="scrollArea" class="clusterize-scroll">
    <table>
      <tbody id="contentArea" class="clusterize-content">
        <tr class="clusterize-no-data">
          <td>{movieTitle} :: {startTimeStamp} to {endTimeStamp} :: {lineText}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </body>
</html>
