<!DOCTYPE html>

<html>
  <head>
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  </head>

  <body>
<div class="list-group">
    <a href={textFile} target="_blank" class="list-group-item">
    <img class="thumbnail" src={imageSource} width="140" height="197">
    <h4 class="list-group-item-heading">{movieTitle}</h4>
    <p class="list-group-item-text">Line #{lineNumber}</p>
    <p class="list-group-item-text">From {startTimeStamp} to {endTimeStamp}</p>
    <p class="list-group-item-text">{lineText}</p>
  </a>
</div>
  </body>
</html>