@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Search results page */
.resultsToolbar {
  width: 100% !important;
  position: fixed !important;
  z-index: 10;
  padding-bottom: 10px;
}

.chooseAFilm > div {
  opacity: 1!important;
}

.screenshotsMovieTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.screenshotsGridList {
  padding-right: 265px;
  padding-top: 72px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.screenshot > div {
  height: 30px!important;
}

.metadataDrawer {
  right: 0px;
  padding-left: 20px !important;
  padding-top: 64px !important;
}

.screenshot {
  cursor: pointer;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

/* Styling for MetadataDrawer Elements */
/* Movie poster styling */
.thumbnail {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    /*background-position: 50%;*/
    /*left: 50%;*/
    /*margin-right: -50%;*/
}

/* Movie title in MetadataDrawer */
.movieTitleInMetadataDrawer {
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: "Arial";*/
    /*font-family: 'Pangolin', cursive;*/
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 110px;
    height: 80px;
    text-align: center;
    position: relative;
}

/* Timeline in MetadataDrawer */
.metadataDrawerTimelineContainer {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    position: relative;
}

/* Dialogue of the screenshot */
.metadataDrawerDialogueContainer {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    height: 120px;
    text-align: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.slick-list {
    width: calc(100% - 100px);
    float: left;
    padding-left: 0px!important;
}

.contextImageGallery {
    padding-left: 20px;
    text-align: center;
}

.colorSearchButton {
    position: relative;
    text-align: center;
    align-items: center;
}

.slick-slide {
    padding-right: 20px;
    margin-right: 0.05px;
}

.contextImage img {
    width:100%;
    transform: translateY(0)!important;
}

/* Context page's dialogue section */
.contextDialogue {
    clear: both;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* height: 100px; */
    padding-top: 20px;
}

.bounding-box {
  border: 2px solid rgb(127, 255, 212);
  color: rgb(255, 255, 255, 0);
  background: #fff0;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.bounding-box:hover {
  border: 2px solid rgb(255, 166, 0);
  color: rgb(255, 166, 0);
  background: #fff4;
}
.bounding-box-selected {
  border: 2px solid rgb(255, 166, 0);
  color: rgb(255, 166, 0);
  background: #fff4;
}

.bounding-box-label {
  color: inherit;
}

/*Conext Timeline centering */
.ContextTimeLine{
    text-align: center;
}

/* Context page's timeline */
.timelineCircles:hover {
    height: 300px;
    fill-opacity: 90;
}
/* Graph related style */
#header {
  color: white;
}

#placeholder {
width: 750px;
height: 300px;
}



/*
 * Header
 */

.lead {
  margin-top: 80px;
}

.message-text {
  color: #fff;
}

.canvas-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.merged-canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hoverHighlight {
  -webkit-transition: filter 0.5s, fill 0.5s; /* Safari */
  transition: filter 0.5s, fill 0.5s;
  filter: brightness(100%);
  fill: #888888;
}

.hoverHighlight:hover {
  filter: brightness(175%);
  fill: #777777;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    /*width: 100%; */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    /*width: 800px;*/
  }
}
