@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  position: relative;
  min-height: 100vh;
}
body {
  margin-bottom: 100px; /* bottom = footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Styling for search page */
#frontPage {
  font-family: 'Roboto', sans-serif;
}

#mainHeader {
  text-align: center;
  padding-top: 10px;
  font-size: 48px;
  vertical-align: middle;
}

#logo {
  position:absolute;
  left:0;
  top:0;
}


#subText {
  font-size: 16px;
  text-align: center;
}

#footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#searchIcons {
  padding-top: 100px;
}

#textIcon {
  display: inline-block;
  padding-right: 0%;
}

#photoIcon {
  display: inline-block;
  padding-left: 10%;
}

#textIconImage {
  /*box-shadow: 10px 10px 5px #888888;*/
}

#photoIconImage {
  /*box-shadow: 10px 10px 5px #888888;*/
}

#photoModal {
  text-align: center;
}

#textForm {
  display: inline;
}
